*.lo
*.o
*.a
*.la
**/Makefile*
DEV-tests/
autom4te.cache/
cmd/.deps/
cmd/.libs/
cmd/dm
cmd/dm-merge
cmd/dm.cc.unicode
cmd/test-compare
cmd/test-lcs
config.h
config.h.in~
config.log
config.status
debugfiles.list
debuglinks.list
debugsources.list
elfbins.list
lib/.deps/
lib/.libs/
libtool
nbproject/
site.exp
stamp-h1
